.row{
    background-color: #BD4B00;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 576px){
    .row{
        text-align: left;
    }
}

.detail-col{
    text-align: left;
}