<div class="container">
    <div class="row" *ngFor="let news of newsFeed;let i = index">
        <div class="col-2 col-lg-1">
            {{news.num_comments}}
        </div>
        <div class="col-2 col-lg-1">
            {{news.points}}
        </div>
        <div class="col-2 col-lg-1">
            <div tabindex="0" class="triangle-up" (click)="upVote(i)"></div>
        </div>
        <div class="col-6 col-lg-9 detail-col d-none d-lg-block">
            {{news.title?news.title:'No title available'}}
            <span class="sub-text">
                by {{news.author}}
                [<button type="button" class="btn btn-link" (click)="hideStory(i)">hide</button>]
            </span>
        </div>
        <div class="col-6 col-lg-9 detail-col d-lg-none">
            <div class="text-truncate">{{news.title?news.title:'No title available'}}</div>
            <span class="sub-text">
                by {{news.author}}
                [<button type="button" class="btn btn-link" (click)="hideStory(i)">hide</button>]
            </span>
        </div>
    </div>
</div>